<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="css/homepage.css">
</head>
<body>
    <div class="header">
        <img src="images/blocks 1.png"></img>
        <div class="heading">
        <h1>Classroom</h1>
        </div>
        <div class="header-links">
        <a href=#about>ABOUT</a>
        <a href=#getintouch>CONTACTS</a>
        <a href=#features>FEATURES</a>
    </div>
    </div>
    <div class="main-container">
    <div class="first-container">
        <img src="images/Saly-16.png"></img>
    </div>
    <div class="right-content">
        <h1 class="right-heading">Meet Classroom</h1>
        <p>Test your potential in an efficient manner</p>
        <h2>Login as</h2>
        <div class="right-buttons">
            <button class="student-button">Student</button>
            <button class="teacher-button">Teacher</button>
        </div>
    </div>
    </div>
    <div class="secondary-container" id="features">
        <div class="secondary-heading">
            <h1>Key Features</h1>
        </div>
        <div class="content-1">
            <div class="content-1-text">
                <h2>Practice problems that mimic an actual examination and test higher order thinking skills</h2>
            </div>
                <img class="content-1-img" src="images/Saly-27.png"></img>
        </div>
        <hr>
        <divc class="content-2">
                <h2 class="content-2-text">Live ranking after every test and a leadership board to tell you where you stand among your peers</h2>
                <img class="content-2-img" src="images/Saly-26 (2).png"></img>
        </div>
        <hr>
        <div class="content-3">
                <h2 class="content-3-text">A detailed class analysis and statistics for the teachers</h2>
                <img class="content-3-img" src="images/Saly-43.png"></img>
        </div>

    </div>
    <div class="about-container" id="about">
        <h1 class="about-heading">About Us</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse doloremque ex animi possimus mollitia placeat quia quas ullam adipisci. Blanditiis excepturi sit, molestias eligendi eveniet nulla praesentium ipsa eius? Aspernatur alias voluptatem fuga autem dolor ducimus eos aliquid nisi repellendus, illo minima accusamus minus repudiandae quae facere placeat quisquam? Nihil?</p>
    </div>
    <div class="get-in-touch" id="getintouch">
        <div class="touch-heading">
            <h1>Get in Touch!</h1>
            <p>Contact us for any query</p>
        </div>
        <div class="icons">
            <div class="icon-1">
                <img class="icon-1" src="images/location.png"></img>
                <p>T.I.E.T</p>
            </div>
            <div class="icon-1">
                <img class="icon-2" src="images/email (1) 1.png"></img>
                <p>xyz@gmail.com</p>
            </div>
            <div class="icon-1">
                <img class="icon-3" src="images/calloutgoing.png"></img>
                <p>+91 12234 56789</p>
            </div>
        </div>

    </div>
    <div class="footer">
        <div class="footer-icons">
        <img class="socials" src="images/Vector (3).png"></img>
        <img class="socials" src="images/Vector (4).png"></img>
        <img class="socials" src="images/Vector (5).png"></img>
        <img class="socials" src="images/Vector (6).png"></img>
        </div>
    </div>
</body>
</html>