@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.main-container {
    display: flex;
    flex-direction: row;
}

/* Splits the screen */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Control the left side */
.left-section {
    left: 0;
    background-color: white;
    margin-top: 7%;
}


.submit-btn {
    background: rgb(59, 38, 103);
    background: linear-gradient(187deg, rgba(59, 38, 103, 1) 35%, rgba(59, 38, 103, 1) 100%);
    color: whitesmoke;
    padding: 5px 14%;
    border-radius: 10px;
    margin-top: 1%;
}

.left-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-box {
    background-color: #D9D9D9;
    padding: 5px 6%;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
}

.form-label {
    margin-top: 2%;
    margin-bottom: 0.2%;
    margin-left: -25%;
}

.form-label.pass {
    margin-left: -21%;
}

.form-label.forgot {
    margin-left: 15%;
    color: rgba(67, 0, 114, 1);
    font-size: 13px;
    margin-top: 0%;
}

.form-text2 {
    margin-top: -1%;
}

/* Control the right side */
.right-section {
    right: 0;
    background: rgb(8, 0, 14);
    background: linear-gradient(187deg, rgba(8, 0, 14, 1) 0%, rgba(0, 0, 0, 1) 35%, rgba(67, 0, 114, 1) 100%);
    color: white;
}

.right-top {
    display: flex;
    flex-direction: row;
    margin-left: 30%;
    margin-top: 15%;
}

.right-logo {
    margin-right: 5%;
}
.right-content{
    margin-top: 2%;
    width: 35%;
    margin-left: 30%;
}
.right-content-head{
    font-weight: 800;
    font-size: 35px;
}

@media only screen and (max-width: 800px) {
    .split {
        width: 100%;
    }
    .right-section{
        visibility: hidden;
    }
  }