<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/practice.css">
    <title>Dashboard</title>
</head>

<body>
    <div class="main-container">
        <div class="split left-section">
            <div class="left-top">
                <img class="left-logo" src="/static//images/blocks 1.png" alt="">
                <h1 class="left-main-heading">Classroom</h1>
            </div>
            <div class="left-content">
                <li class="left-content-item"><img class="left-content-image" src="" alt="."><a class="dashboard-link" href="./dashboard">Dashboard</a></li>
                <li class="left-content-item"><img class="left-content-image" src="" alt="."> Leaderboard</li>
                <li class="left-content-item"><img class="left-content-image" src="" alt="."><a class="dashboard-link" href="./practice">Practice</a></li>
                <li class="left-content-item"><img class="left-content-image" src="" alt="."> Quiz</li>
                <li class="left-content-item"><img class="left-content-image" src="" alt="."> Queries</li>
                <li class="left-content-item"><img class="left-content-image" src="" alt="."> Settings</li>
                <li class="left-content-item"><img class="left-content-image" src="" alt="."> Help</li>
            </div>
            <div class="left-bottom">
                <p class="left-bottom-item"><img class="left-bottom-image" src="" alt="."> Log Out</p>
            </div>
        </div>
        <div class="split right-section">
            <div class="right-top">
                <p class="right-heading">Student's Dashboard</p>
            </div>
            <div class="right-userId">
                <img src="/static//images/icons8-male-user-64 (1).png" alt="" class="right-userId-img">
                <div class="right-userId-text">
                    <p class="right-userId-name">Sk Sayan</p>
                    <p class="right-userId-email">sayan7@gmail.com</p>
                </div>
            </div>
            <hr class="right-hr">
            <div class="right-middle">
                <p class="middle-left">Practice Mode</p>
                <!-- <img src="" alt="d" class="middle-left-img"> -->
            </div>
            <div class="right-cards">
                <form action="" class="right-form">
                    <input type="text" class="form-box" name="Class" placeholder="Select Class">
                    <input type="text" class="form-box" name="Class" placeholder="Select Topic">
                    <div class="form-checkbox">
                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                        <img src="" alt=".">
                        <label for="vehicle1"> Timer On</label>
                    </div>
                </form>
            </div>
            <button class="right-button">Let's Go!</button>
        </div>
    </div>
</body>

</html>