<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/templates/UserLogin.css">
    <title>User Login</title>
</head>

<body>
    <div class="main-container">
        <div class="split left-section">
            <h1 class="left-form left-main-heading">
                Hey,Welcome!
            </h1>
            <form action="" class="left-form">
                <p class="form-label">Email</p>
                <input type="email" class="form-box" id="User-email" name="email" placeholder="Eg: Doe03@gmail.com">
                <p class="form-label pass">Password</p>
                <input type="password" class="form-box" id="User-pass" name="password" placeholder="Hello@1234">
                <p class="form-label forgot">Forgot Password?</p>
                <input type="submit" class="submit-btn" value="LOG IN">
                <p class="form-text">or</p>
                <p class="form-text2">Sign Up</p>
            </form>
        </div>
        <div class="split right-section">
            <div class="right-top">
                <img class="right-logo" src="/images/blocks 1.png" alt="">
                <h1 class="right-main-heading">Classroom</h1>
            </div>
            <div class="right-content">
                <p class="right-content-head">Consistency is the hallmark of Greatness!</p>
                <p class="right-content-text">Explore your potential by testing yourself</p>
            </div>
        </div>
    </div>
</body>

</html>